.link-mamp {
    color: #ffffff;
  }
  .link-mamp:hover {
    color: #ffffff;
  }

  .main-footer {
    background: #316582;
  }
  .carousel-inner img {
    margin: auto;
  }
  .txt-footer {
    color: #fff;
  }