body {
  font-family: "Montserrat", sans-serif;
}
.font-weight-medium {
  font-weight: 500;
}

.cuadro-99 {
  height: 68px;
}
.nav-clr {
  color: #316582;
}
.main-footer {
  background: #316582;
}
.carousel-inner img {
  margin: auto;
}
.txt-footer {
  color: #fff;
}
.prev-clr {
  background: #1d3c4e;
}
.link-mamp {
  color: #ffffff;
}
.link-mamp:hover {
  color: #ffffff;
}
/* .div-deco {
  height: 1rem;
  background: #1d3c4e;
} */
.cuadro-1 {
  background-color: #1D3C4E;
}
.cuadro-1 > div > span {
  color: #FFFFFF;
  font-family: 'Montserrat', Fallback, sans-serif;
  font-weight: 700;
  font-size: 16px;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
.i-correo {
  height: 18px;
}
.i-telefono {
  height: 26px;
}
.form-busqueda {
  display: block;
  width: 100%;
  height: 45px;
  padding: 0.375rem 0.75rem;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  background-color: #f2f2f2;
  background-clip: padding-box;
  border: 1px solid #f2f2f2;
  border-radius: 0px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
i.icon-mamp {
    color: #1d3c4e;
    font-size: 1.3rem;
}
.opc-nav-normal {
  color: #000000 !important;
  font-family: 'Montserrat', Fallback, sans-serif;
  font-weight: 600;
}
.opc-nav-resaltar {
  color: #d61e26 !important;
  font-family: 'Montserrat', Fallback, sans-serif;
  font-weight: 600;
}
.cuadro-nav {
  background-color: #F2F2F2;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
.link-contacto {
  color: #000000;
  font-family: 'Montserrat', Fallback, sans-serif;
  font-weight: 600;
  font-size: 16px;
  display: inline;
}
.link-contacto:hover, .link-contacto:focus {
  text-decoration: none;
  color: #095D82;
}
.nav-header > div > ul > li > a {

    padding-left: 0px !important;
    padding-right: 40px !important;
    padding-top: 0px !important;
    padding-bottom: 10px !important;
    font-size: 16px !important;
}
.nav-header {
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-bottom: 19px !important;
  padding-top: 23px !important;
  background-color: #F2F2F2 !important;
}
