body {
    font-family: 'Montserrat', sans-serif;
    }
.font-weight-medium {
    font-weight: 500;
}
.nav-clr {
    color: #316582;
}
.main-footer {
    background: #316582;
}
.carousel-inner img {
    margin: auto;
  }