.cuadro-1 {
    background-color: #1D3C4E;
}
.cuadro-1 > div > span {
    color: #FFFFFF;
    font-family: 'Montserrat', Fallback, sans-serif;
    font-size: 16px;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
.cuadro-99 {
    height: 70px;
}
.cuadro-logo > a > img {
    width: 200px !important;
}
.form-busqueda {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-align: center;
    align-items: center;
}
.form-busqueda > div {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 0;
    width: calc(100% - 70px);
}
.form-busqueda > div > input{
    display: block;
    width: 100%;
    height: 45px;
    padding: 0.375rem 0.75rem;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
    background-color: #f2f2f2;
    background-clip: padding-box;
    border: 1px solid #f2f2f2;
    border-radius: 0px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    font-family: 'Montserrat', Fallback, sans-serif;
}
.form-busqueda > div > input:focus {
    outline-width: 0;
}
.form-busqueda > button {
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0px;
    background-color: #f2f2f2;
    border-color: #f2f2f2;
    height: 45px;
    width: 60px;
}
.form-busqueda > button > img{
    height: 20px;
}
.i-telefono {
    height: 30px;
}
.i-correo {
    display: inline;
    height: 18px;
}
.link-contacto {
    color: #000000;
    font-family: 'Montserrat', Fallback, sans-serif;
    font-weight: 600;
    font-size: 16px;
    display: inline;
}
.link-contacto:hover, .link-contacto:focus {
    text-decoration: none;
    color: #095D82;
}
.i-carrito {
    display: inline;
    height: 30px;
}
.cuadro-contacto {
    padding-left: 50px;
}
.cant-carrito {
    height: 25px;
    width: 25px;
    background-color: #d61e26;
    border-radius: 50%;
    display: inline-block;
    color: #FFFFFF;
    text-align: center;
    font-family: 'Montserrat', Fallback, sans-serif;
    margin-left: 5px;
}
.cuadro-nav {
    background-color: #F2F2F2;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
.nav-header {
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 19px !important;
    padding-top: 23px !important;
    background-color: #F2F2F2 !important;
}
.nav-header > div > ul > li > a {
    padding-left: 0px !important;
    padding-right: 40px !important;
    padding-top: 0px !important;
    padding-bottom: 10px !important;
    font-family: 'Montserrat', Fallback, sans-serif;
    font-size: 16px !important;
}
.opc-nav-normal {
    color: #000000 !important;
    font-family: 'Montserrat', Fallback, sans-serif;
    font-weight: 600;
}
.opc-nav-resaltar {
    color: #d61e26 !important;
    font-family: 'Montserrat', Fallback, sans-serif;
    font-weight: 600;
}
/**/
.cuadro-dist {
    position: relative;
}
.titulo-dist {
    font-family: 'Montserrat', Fallback, sans-serif;
    font-size: 40px;
    font-weight: bold;
    display: block;
    position: absolute;
    top: 10%;
}
@media only screen and (max-width: 767px) {
    .cuadro-dist {
        display: none;
    }
}
.subtitulo-dist {
    display: block;
    font-family: 'Montserrat', Fallback, sans-serif;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    bottom: 0px;
}